<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/styles/output.css" />
    <link rel="stylesheet" href="/assets/styles/main.css" />
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css" />
  </head>
  <body class="bg-light-500 dark:bg-primary-500" <!-- header -->
    <header class="w-full px-16 py-10">
      <div class="w-full flex justify-between items-center">
        <div class="w-[200px] h-[50px] flex items-center gap-5">
          <div
            class="text-primary-500 dark:text-light-500 text-lg font-extrabold"
          >
            Admin
          </div>
        </div>
        <%- include('../../Portfolio/components/darkmode-button') %>
        <div class="w-[200px] h-[50px] flex items-center gap-5">
          <a
            href="/admin/dashboard"
            class="text-primary-500 dark:text-light-500"
            >Dashboard</a
          >
          <a href="/admin/logout" class="text-primary-500 dark:text-light-500"
            >Logout</a
          >
        </div>
      </div>
      <!-- location -->
      <div
        class="w-full flex gap-2 items-center text-primary-500 dark:text-light-500 text-lg mt-5"
      >
        <div class="font-['Montserrat']">Dashboard</div>
        <i class="fas fa-chevron-right"></i>
      </div>
    </header>

    <!-- main -->
    <main class="w-full px-16 py-3 flex flex-col gap-3">
      <div class="w-full flex justify-between items-center flex-wrap gap-3">
        <div class="w-[200px] flex items-end gap-5">
          <div
            class="text-primary-500 dark:text-light-500 text-lg font-extrabold"
          >
            Projects
          </div>
        </div>
        <!-- view Projects -->
        <div class="w-fit flex gap-2 flex-wrap">
          <a
            href="/admin/projects"
            class="border border-secondary-500 px-6 py-2 bg-light-500 dark:bg-primary-600 text-primary-500 dark:text-light-500"
            >View Projects</a
          >
          <!-- /projects/add -->
          <a
            href="/admin/projects/add"
            class="border border-secondary-500 px-6 py-2 bg-light-500 dark:bg-primary-600 text-primary-500 dark:text-light-500"
            >Add Project</a
          >
        </div>
      </div>
      <div class="w-full flex justify-between items-center flex-wrap gap-3">
        <div class="w-[200px] flex items-end gap-5">
          <div
            class="text-primary-500 dark:text-light-500 text-lg font-extrabold"
          >
            Technologies
          </div>
        </div>
        <!-- view Technologies -->
        <div class="w-fit flex gap-2 flex-wrap">
          <a
            href="/admin/technologies"
            class="border border-secondary-500 px-6 py-2 bg-light-500 dark:bg-primary-600 text-primary-500 dark:text-light-500"
            >View Technologies</a
          >
          <!-- /technologies/add -->
          <a
            href="/admin/technologies/add"
            class="border border-secondary-500 px-6 py-2 bg-light-500 dark:bg-primary-600 text-primary-500 dark:text-light-500"
            >Add Technology</a
          >
        </div>
      </div>
    </main>

    <script defer>
      const darkmodeButton = document.querySelector("#toggle-darkmode");
      const darkmode = localStorage.getItem("theme");
      const html = document.querySelector("html");
      if (darkmode === "dark") {
        darkmodeButton.checked = true;
        html.classList.add("dark");
      } else {
        darkmodeButton.checked = false;
        html.classList.remove("dark");
      }

      darkmodeButton.addEventListener("change", (e) => {
        if (e.target.checked) {
          html.classList.add("dark");
          localStorage.setItem("theme", "dark");
        } else {
          html.classList.remove("dark");
          localStorage.setItem("theme", "light");
        }
      });
    </script>
  </body>
</html>
