<div
  class="w-full h-screen max-h-[700px] px-[80px] py-[60px] flex gap-10"
>
    <img src="/assets/images/desktop.png" alt="">
    <div class="w-fit px-6 py-3">
        <h2>About me</h2>
        <p>

        </p>
    </div>
</div>