<div class="w-fit @[560px]/header:h-full pl-[70px] @[560px]/header:pl-0 flex items-center gap-2 text-sm text-primary-400 dark:text-grey-500">
    <span>Light</span>
    <label for="toggle-darkmode" class="relative flex items-center p-[2px] cursor-pointer w-[35px] h-[20px] rounded-full border border-primary-500 dark:border-gray-400 transition-all duration-300 toggle-label">
        <input type="checkbox" id="toggle-darkmode" class="hidden">
    </label>
    <span>Dark</span>
</div>