<header class="w-full flex absolute top-[20px]">
  <div
    class="max-w-[1280px] w-[calc(100%-40px)] h-[60px] bg-white rounded-[2px] border border-secondary-500 mx-auto header-shadow flex items-center px-[20px]"
  >
    <div class="font-['Montserrat'] font-extrabold text-primary-500 text-lg">
      Abdelghani El Mouak
    </div>
    
  </div>
</header>
