<div class="w-full @container/cantact" id="Contactme">
  <div class="w-full flex relative">
    <div class="w-full flex items-center justify-center absolute z-0">
      <div
        class="w-[100px] h-[100px] blur-[160px] @[790px]/main:w-[200px] @[790px]/main:h-[200px] rounded-full bg-orange-500 @[790px]/main:blur-[10px]"
      ></div>
    </div>
    <div class="w-full h-auto py-5 z-10 px-[20px] @[560px]/cantact:pl-[40px] 
        flex flex-col gap-10 @[560px]/cantact:flex-row @[560px]/cantact:justify-center @[890px]/cantact:gap-[200px]">
        <div class="w-fit flex flex-col gap-3">
            <h2 data-aos="fade-up" class="font-['Montserrat'] font-bold text-4xl text-primary-500 dark:text-light-500">Cantact Me</h2>
            <div data-aos="fade-up" class="flex gap-2 items-center text-primary-500 font-['Poppins'] dark:text-light-600">
                <i class="fas fa-phone"></i>
                +212653179026
            </div>
            <div data-aos="fade-up" class="flex gap-2 items-center text-primary-500 font-['Poppins'] dark:text-light-600">
                <i class="fas fa-envelope"></i>
                abdelghanielmouak@gmail.com
            </div>
        </div>
        <form class="w-full max-w-[350px] flex flex-col gap-3">
            <div data-aos="fade-up" class="w-full flex flex-col gap-1">
                <label for="email" class="label">Email *</label>
                <input type="email" class="input" placeholder="Enter Your Email">
            </div>
            <div data-aos="fade-up" class="w-full flex flex-col gap-2">
                <label for="name" class="label">Name </label>
                <input type="text" class="input" placeholder="Enter Your Name">
            </div>
            <div data-aos="fade-up" class="w-full flex flex-col gap-2">
                <label for="msg" class="label">Message </label>
                <textarea class="textarea" placeholder="Enter Your Message"></textarea>
            </div>
            <button data-aos="fade-up" class="w-full px-[20px] py-[15px] border border-secondary-500 bg-primary-500 text-light-500">Send Message</button>
        </form>
    </div>
  </div>
</div>
