<div class="w-full @container/skills" id="skills">
  <div
    class="w-full pl-[20px] @[890px]/skills:pl-[40px] @[560px]/skills:mb-[50px]"
  >
    <div class="w-full flex-col pb-[30px] justify-center items-center gap-10 inline-flex">
      <div
        class="w-full h-[50px] flex-col justify-center items-start gap-1 inline-flex "
      >
        <div
          class="text-primary-500 dark:text-light-500 text-3xl font-bold font-['Montserrat']"
          data-aos="fade-up"
        >
          Technologies I've worked with
        </div>
        <div
          class="text-primary-500 dark:text-grey-400 text-base font-['Poppins-light']"
          data-aos="fade-up"
        >
          Here are some of the technologies that I have worked with.
        </div>
      </div>
      <div
        class="w-full h-[852px] @[770px]/skills:h-[400px] flex justify-center items-center gap-10 relative"
      >
        <div class="w-full h-full absolute z-10">
          <div
            class="w-[200px] h-[200px] rounded-full bg-orange-500 blur-[210px] absolute"
          ></div>
          <div
            class="w-[200px] h-[200px] rounded-full bg-danger-500 blur-[180px] absolute bottom-0 -translate-x-[50%] left-[50%]"
          ></div>
          <div
            class="w-[200px] h-[200px] rounded-full bg-secondary-500 blur-[180px] absolute right-0"
          ></div>
        </div>
        <div class="w-full h-[852px] pt-[30px] @[770px]/skills:pt-0 @[770px]/skills:h-[400px] flex gap-[70px] flex-col max-w-[820px] absolute z-20 items-center @[770px]/skills:flex-row">
            <div data-aos="fade-up" class="w-full max-w-[300px] h-fit bg-light-500 dark:bg-primary-600 p-[15px] border border-secondary-500 @[770px]/skills:self-end">
                <h2 class="text-primary-500 dark:text-light-500 text-2xl font-bold font-['Montserrat'] pt-[20px] pb-[10px]">
                    Back end
                </h2>
                <ul class="w-full flex flex-col gap-[10px]">
                    <li>
                        <img src="/assets/Technlogies-images/Nodejs.svg" alt="Node.js" class="h-[30px] object-contain" />
                    </li>
                    <li>
                        <img src="/assets/Technlogies-images/Flask.svg" alt="Express.js" class="h-[30px] object-contain" />
                    </li>
                    <li>
                        <img src="/assets/Technlogies-images/Django.svg" alt="Flask" class="h-[30px] object-contain" />
                    </li>
                    <li>
                        <img src="/assets/Technlogies-images/Mysql.svg" alt="Django" class="h-[30px] object-contain" />
                    </li>
                    <li>
                        <img src="/assets/Technlogies-images/Mongo db.svg" alt="Mysql" class="h-[30px] object-contain" />
                    </li>
                </ul>
            </div>
            <div data-aos="fade-up" class="min-w-[150px] max-w-[150px] h-[150px]  bg-light-500 dark:bg-primary-600 dark:shadow-black border border-secondary-500 rounded-full relative my-stack" >
                <div class="w-full h-full flex flex-col gap-[2] justify-center items-center text-2xl font-bold font-['Poppins-bold'] text-primary-500 dark:text-light-500">
                    <span>My</span>
                    <span>Stack</span>
                </div>
            </div>
            <div data-aos="fade-up" class="w-full max-w-[300px] h-fit bg-light-500 dark:bg-primary-600 p-[15px] border border-secondary-500 @[770px]/skills:self-start">
                <h2 class="text-primary-500 dark:text-light-500 text-2xl font-bold font-['Montserrat'] pt-[20px] pb-[10px]">
                    Front end
                </h2>
                <ul class="w-full flex flex-col gap-[10px]">
                    <li class="w-full flex gap-3 items-center text-primary-500 dark:text-light-500 ">
                        <img src="/assets/Technlogies-images/Html.svg" alt="React" class="h-[30px] object-contain" />
                        Html
                    </li>
                    <li class="w-full flex gap-3 items-center text-primary-500 dark:text-light-500 ">
                        <img src="/assets/Technlogies-images/Css.svg" alt="Next.js" class="h-[30px] object-contain" />
                        Css
                    </li>
                    <li class="w-full flex gap-3 items-center text-primary-500 dark:text-light-500 ">
                        <img src="/assets/Technlogies-images/Javascript.svg" alt="Html" class="h-[30px] object-contain" />
                        Javascript
                    </li>
                    <li class="w-full flex gap-3 items-center text-primary-500 dark:text-light-500 ">
                        <img src="/assets/Technlogies-images/React js.svg" alt="Css" class="h-[30px] object-contain" />
                        React.js
                    </li>
                    <li class="w-full flex gap-3 items-center text-primary-500 dark:text-light-500 ">
                        <img src="/assets/Technlogies-images/Tailwindcss.svg" alt="Tailwindcss" class="w-[30px] object-contain" />
                        Tailwindcss
                    </li>
                </ul>
            </div>  
        </div>
      </div>
    </div>
  </div>
</div>
