@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 20px;
  height: 30px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 6px solid transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  background-clip: content-box;
  @apply bg-primary-700 
}

.menu-item {
  @apply h-full flex items-center justify-center w-[90px] text-primary-500 dark:text-grey-500 text-lg font-['Montserrat'] transition-all duration-300;
}
.active-item {
  @apply font-bold dark:text-light-500;
}
.menu-indicator {
  --index: 0;
  left: calc(25px + calc(var(--index) * 90px));
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.toggle-label::before {
  content: "";
  @apply absolute w-[16px] h-[16px] bg-primary-500 dark:bg-gray-400 rounded-full transition-all duration-300;
}
.toggle-label:has(input:checked)::before {
  @apply transform translate-x-[13px];
}
.social-media-link {
  @apply relative overflow-hidden w-[40px] h-[40px] rounded-full bg-grey-500 dark:bg-primary-500 text-primary-500 dark:text-grey-500 text-lg flex items-center justify-center transition-all duration-300;
}
.social-media-link::before {
  content: "";
  bottom: -100%;
  right: -100%;
  @apply absolute z-0 w-full h-full bg-primary-500 dark:bg-primary-light-500 rounded-full transition-all duration-300;
}
.social-media-link:hover::before {
  bottom: 0;
  right: 0;
}
.social-media-link:hover {
  @apply text-grey-500 shadow-lg;
}
.dowload-cv-button {
  --x: -5px;
  --y: -5px;
  box-shadow: inset var(--x) var(--y) 10px #0000004f;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  @apply bg-secondary-500 text-light-500 rounded-full 
        absolute -bottom-[25px] flex flex-col items-center justify-center gap-2
        p-[10px];
}
.dowload-cv-button:hover {
  --x: 5px;
  --y: 5px;
}

.transformz{
  transform: translateZ(150px)
}

.more-button{
  @apply bg-light-500 text-primary-500 border border-secondary-500 px-6 py-3 rounded-[2px] font-['Poppins-medium'] flex w-fit;
  @apply dark:bg-primary-light-500 dark:text-light-500
}

.nav-btn{
    width: 30px;
    height: 30px;
    padding: 3px;
    background: transparent;
    cursor: pointer;
    /* display: flex; */ /* actually this comes from the tailwind that's why it's commented */
    flex-direction: column;
    transition: all 300ms ease-in-out;
    position: relative;
}
.nav-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
    @apply bg-primary-500 dark:bg-grey-500
}
.nav-btn span::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: -8px;
    transition: all 300ms ease-in-out;
    @apply bg-primary-500 dark:bg-grey-500
}
.nav-btn span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 8px;
    transition: all 300ms ease-in-out;
    @apply bg-primary-500 dark:bg-grey-500
}
.nav-btn.active{
    rotate: 90deg;
}
.nav-btn.active span{
    background: transparent;
}
.nav-btn.active span::before{
    top: 0;
    transform: rotate(45deg);
}
.nav-btn.active span::after{
    top: 0;
    transform: rotate(-45deg);
}

.label{
  @apply font-['Poppins-medium'] text-primary-500;
  @apply dark:text-light-600
}
.input, .textarea{
  @apply text-primary-500 px-[20px] py-[10px] font-light font-['Poppins-light'] outline-none border border-secondary-500 bg-grey-300;
  @apply dark:bg-primary-light-500 transition-all duration-300
}
.input:focus,
.textarea:focus{
  @apply border-blue-700
}
.textarea{
  min-height: 150px;
}

@media only screen and (max-width: 576px){
  ul{
    background: transparent;
  }
  .menu-item {
    height: 50px;
    width: 100%;
    font-size: 1.2rem;
    justify-content: start;
    padding-left: 70px;
  }
  .active-item {
    font-weight: bold;
  }
  .menu-indicator {
    all: unset;
    width: calc(100% + 70px);
    height: 50px;
    top: calc(var(--index) * 50px);
    position: absolute;
    z-index: 0;
    @apply bg-[rgba(0,0,0,0.1)] dark:!bg-[rgba(0,0,0,0.1)];
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .menu-indicator::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 0% 50% 50% 0;
    position: absolute;
    @apply bg-primary-500 dark:bg-primary-700;
  }
}