@font-face{
    font-family: 'Lora';
    font-style: normal;
    src: url('../fonts/Lora/Lora-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Lora-Italic';
    font-style: italic;
    src: url('../fonts/Lora/Lora-Italic-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Montserrat';
    font-style: normal;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face{
    font-family: 'Montserrat-Italic';
    font-style: italic;
    src: url('../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}


@font-face{
    font-family: 'Poppins-light';
    font-weight: light;
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}
@font-face{
    font-family: 'Poppins';
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face{
    font-family: 'Poppins-medium';
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face{
    font-family: 'Poppins-bold';
    font-weight: bold;
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}
@font-face{
    font-family: 'Poppins-extrabold';
    font-style: normal;
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
}


*{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

.header-hidden{
    top: -70px !important;
    transform: rotateX(90deg) !important;
}

.perpspective{
    transform: perspective(70px);
}

.transition-300{
    transition: all 300ms ease-in-out;
}
.transition-500{
    transition: all 500ms ease-in-out;
}
.transition-700{
    transition: all 700ms ease-in-out;
}
.transition-1000{
    transition: all 1000ms ease-in-out;
}