<div  class="w-full flex justify-center items-center gap-2 flex-col pt-4 p-2 pb-10">
  <span
    class="font-bold font-['Montserrat'] text-primary-500 dark:text-light-500 text-center"
  >
    Made with ❤️ by Abdelghani El Mouak
  </span>
  <span class="text-primary-500 dark:text-light-500"> Copyright 2024 </span>
</div>
<script>
  AOS.init();
</script>
